.counter {
  display: flex;
  &__decrement {
    flex: 1;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__increment {
    flex: 1;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &__input {
    flex: 8;
    border-radius: 0;
    min-width: 0;
  }
}