// color
$primary-bg: #e6e6e6;
$extreme-bg: #ffffff;
$primary-color: #333133;
$secondary-color: #919191;
$extreme-color: #000000;

// font-size
$fz-md: 1.25rem;
$fz-lg: 1.4 * $fz-md;
$fz-xl: 2 * $fz-md;
$fz-sm: 0.8 * $fz-md;
$fz-xs: 0.6 * $fz-md;