.header {
  position: relative;
  @include mobile {
    &::before {
      content: '';
      background: $extreme-bg;
      border-bottom: 1px solid $primary-bg;
      width: 100%;
      height: 6.25rem;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &--invert::before {
      content: '';
      transform: translateY(-6.25rem);
      border: none;
      transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1);
    }
  }
  &__logo {
    color: $primary-color;
    position: absolute;
    left: 5rem;
    top: 3.125rem;
    z-index: 2;
    line-height: 0;
    font-weight: 900;
    margin: 20px auto;
    $this: &;
    &--invert > a {
      color: $extreme-bg;
    }
    &--invert > a > #{$this}__decor {
      background: $extreme-bg;
    }
    @include tablet {
      left: 2rem;
      font-size: $fz-md * 1.6;
    }
    @include mobile {
      font-size: $fz-lg;
      left: .5rem;
      top: 1.5rem;
      position: fixed;
    }
  }
  &__title {
    position: absolute;
    left: 50%;
    top: 3.125rem;
    z-index: 2;
    font-size: $fz-lg;
    &--invert {
      color: $extreme-bg;
    }
    @include mobile {
      display: none;
    }
  }
  &__navbtn {
    width: 5rem;
    right: 0;
    top: 3.125rem;
    z-index: 20;
    $this: &;
    &--invert #{$this}__line {
      background: $extreme-bg;
      &::before {
        background:$extreme-bg;
      }
      &::after {
        background: $extreme-bg;
      }
    }
    &--active #{$this}__line {
      background: transparent;
      &::before {
        transform: translate(0) rotate(-45deg);
        background: $primary-color;
      }
      &::after {
        transform: translate(0) rotate(45deg);
        background: $primary-color;
      }
    }
    @include mobile {
      top: 1.5rem;
    }
  }
  &__navbtn__line {
    width: 2rem;
    height: 3px;
    background: $primary-color;
    margin: 20px auto;
    &::before {
      content: '';
      width: 2rem;
      height: 3px;
      background: $primary-color;
      position: absolute;
      transform: translateY(-350%);
      transition: transform .5s;
    }
    &::after {
      content: '';
      width: 2rem;
      height: 3px;
      background: $primary-color;
      position: absolute;
      transform: translateY(350%);
      transition: transform .5s;
    }
  }
  &__nav {
    $this: &;
    &--active #{$this}__overlay {
      opacity: 1;
      pointer-events: auto;
      transition: all .3s ease;
    }
    &--active #{$this}__sidemenu {
      transform: translateX(0);
    }
  }
  &__nav__overlay {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba($extreme-color, .8);
    transition: all .3s ease .7s;
    opacity: 0;
    pointer-events: none;
  }
  &__nav__sidemenu {
    transition: transform .8s cubic-bezier(0.8, 0, 0.2, 1) .2s;
    transform: translateX(100%);
    width: 50%;
    height: 100%;
    background: $primary-bg;
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    padding: 7rem 1rem 5rem 3rem;
    align-items: flex-start;
    @include mobile {
      width: 100%;
      padding: 5rem 2rem 3rem 2rem;
    }
  }
  &__nav__link {
    font-size: $fz-xl;
    font-weight: 700;
    padding-top: .25rem;
    line-height: 2;
    color: $secondary-color;
    transition: .3s ease;
    &:hover,
    &--active {
      color: $primary-color;
      text-decoration: none;
    }
  }
  &__go-top-btn {
    position: fixed;
    width: 5rem;
    z-index: 20;
    top: 2rem;
    left: 0;
    font-size: $fz-lg;
    font-weight: 900;
    text-align: center;
    transform: translateY(-5rem);
    transition: transform .3s ease;
    &--show {
      transform: translateY(0);
    }
    @include mobile {
      display: none;
    }
  }
  &__content-box {
    position: relative;
    padding: 0 1rem;
    left: 50%;
    top: 3.125rem;
    max-width: 450px;
    @include laptop {
      max-width: 275px;
    }
    @include mobile {
      display: none;
    }
  }
  &__content-box__item {
    position: absolute;
    z-index: 2;
    color: $extreme-bg;
    font-size: $fz-md;
    letter-spacing: .25rem;
    &--0 {
      opacity: 0;
      animation: 20s captionRotator 0s infinite;
    }
    &--1 {
      opacity: 0;
      animation: 20s captionRotator 5s infinite;
    }
    &--2 {
      opacity: 0;
      animation: 20s captionRotator 10s infinite;
    }
    &--3 {
      opacity: 0;
      animation: 20s captionRotator 15s infinite;
    }
    @include laptop {
      font-size: $fz-sm;
    }
  }
}

@keyframes captionRotator {
  0% {
    opacity: 0;
  }
  6.25% {
    opacity: 1;
  }
  18.75% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}